.form-bg {
    background-color: white;
    height: 85vh;
    padding: 1rem 1rem;
}

.contact-form {
    color: #600363;
    /* padding-top: 4rem; */
    padding: 30px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
    border: 4px solid lavender;
    box-shadow: 2px 2px 5px #600363;
    border-style: double;
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.contact-form h2 {
    text-align: center;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.contact-form input {
    width: 100%;
    height: 30px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 23.5px;
    color: #E9C6EE;
    background-color: #6003634b;
    border: 2px solid #E9C6EE;
    box-shadow: 2px 2px 4px #600363;
    cursor: pointer;
    border-radius: 0.4rem;
}


.contact-form textarea {
    border-radius: 0.4rem;
    color: #E9C6EE;
    background-color: #60036350;
    border: 2px solid #E9C6EE;
    box-shadow: 2px 2px 4px #600363;
    cursor: pointer;
    width: 100%;
    
    padding: 10px;
    margin-bottom: 15px;
    font-size: 23.5px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: lavender;
    opacity: 0.8;
}

.contact-form .submit-button {
    font-size: 23.5px;
    color: #E9C6EE;
    background-color: #600363;
    border: 2px solid #E9C6EE;
    box-shadow: 2px 2px 4px #600363;
    cursor: pointer;
    border-radius: 0.4rem;
    transition: background-color 0.3s;
}

.contact-form .submit-button:hover {
    background-color: #d6b3e0;
}

/* .contact-form textarea {
    height: 1px;
} */