* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.divs-bg {
    background-image: url(../assets/images/bg.jpg);
    background-size: cover;
    width: 100%;
    height:85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

}

.hero-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}


.text-section {
    flex: 1;
}

.greeting {
    color: #8A3B8A;
    font-size: 2.5rem;
    margin-bottom: 10px;
    display: block;
}

.main-title {
    font-size: 3rem;
    font-weight: bold;
    color: #B8ACA5;
    margin-bottom: 20px;
    line-height: 1.2;
}

.description {
    color: goldenrod;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    align-items: center;
}

.primary-button {
    padding: 0.8em 1.5em;
    background-color: #B8ACA5;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 15px;
    transition: background-color 0.3s ease;
}

.primary-button:hover {
    background-color: #8A3B8A;
}

.secondary-link {
    color: #B8ACA5;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.secondary-link:hover {
    border-bottom: 2px solid #B8ACA5;
}

.image-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-image {
    width: 30%;
    height: 25%;
    border-radius: 40rem;
    object-fit: cover;
    z-index: 1;
}

.learn-more {
    background-color: #fff;
    color: #B8ACA5;
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.learn-more:hover {
    background-color: goldenrod;
    color: black;
}

.quote {
    font-size: 1.5rem;
    font-style: italic;
    color: white;
    text-align: center;
    margin-top: 20px;
}