/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #000;
    color: #E9C6EE;
    /* padding: 20px; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-icon {
    font-size: 2.5rem;
    color: goldenrod;
    cursor: pointer;
}

/* Navbar links */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 79%;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: goldenrod;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
    font-weight: 500;
}

.nav-link:hover {
    color: #F4E4F8;
}

.nav-icon {
    margin-right: 10px;
    font-size: 1.5rem;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 20px;
    }
}